@using DocTrackerService.DTO
@model LoginModel
@{
    ViewData["Title"] = "系統登入";
}

<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Account" placeholder="帳號" />
    <input asp-for="Password" placeholder="密碼" />
    <button type="submit">登入</button>
</form>

