
@{
    ViewData["Title"] = "Index";
}
<div class="container px-5 mt-5">

    <div class="row px-5">

        <h1>2026年Q1洗錢防制稽核報告!</h1>
        <h3>一、稽核目的</h3>
        <p>驗證本公司對於《洗錢防制法》之遵循程度。</p>
        <table class="table">
            <thead>
                <tr>
                    <th>查核項目</th>
                    <th>結果</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>KYC補件</td>
                    <td>已完成</td>
                </tr>
            </tbody>
        </table>
    </div>
    

</div>


